html,
body {
  padding: 0;
  margin: 0;
  background: var(--color-neutral-white);
}

p {
  font-family: helvetica, sans-serif;
  color: #eee;
}

.parallax {
  height: 100vh;
  background-image: url("../../images/bg-1.png");
}

.next {
  padding: var(--spacing-l);
  background-color: var(--color-medium-blue);
  font-size: 36px;
}
