.formik-container {
  align-items: center;
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  padding: var(--spacing-l);
  row-gap: var(--spacing-m);
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  row-gap: var(--spacing-m);
  padding: var(--spacing-m);
  width: 35%;
  min-width: 200px;
}

h1 {
  color: var(--color-dark-grey);
}

.input-container {
  display: flex;
  flex-direction: column;
}

.error {
  font-size: 0.75rem;
  color: red;
}

.submit {
  background-color: var(--color-medium-blue);
  border-radius: 0.25rem;
  border: none;
  color: var(--color-tan);
  padding: var(--spacing-xs);
}
.submit:hover {
  transform: translateY(-2px);
  background-color: rgb(85, 122, 149, 0.9);
}

label {
  display: flex;
  justify-content: flex-start;
  color: var(--color-dark-grey);
}

span {
  color: red;
}
