.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing-s);
  padding: var(--spacing-m);
  background-color: var(--color-light-grey);
}

.social-container {
  display: flex;
  justify-content: center;
  column-gap: var(--spacing-s);
}

a.social {
  transition: transform 250ms;
}

a.social:hover {
  transform: translateY(-2px);
  color: var(--color-dark-grey);
}

a.icons {
  color: var(--color-dark-grey);
}

h6 {
  color: var(--color-dark-grey);
  margin: var(--spacing-s) var(--spacing-m);
}
