.book-container {
  align-items: center;
  background-color: var(--color-dark-grey);
  display: flex;
  justify-content: center;
  column-gap: var(--spacing-s);
  height: 800px;
}

body {
  font-family: sans-serif;
}

.turn-btn {
  background-color: var(--color-neutral-white);
  border-radius: 1rem;
  color: var(--color-dark-grey);
  cursor: pointer;
  display: flex;
}
