.book-container {
  align-items: center;
  background-color: var(--color-dark-grey);
  column-gap: var(--spacing-s);
  display: flex;
  height: 1000px;
  justify-content: center;
  margin: auto;
}

body {
  font-family: sans-serif;
}

.turn-btn {
  background-color: var(--color-neutral-white);
  border-radius: 1rem;
  color: var(--color-dark-grey);
  cursor: pointer;
  display: flex;
}
